div#sidebar
{
	float: left;
	width: 240px;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	overflow: auto;
	background-color: white;
}

div#tree
{
	font-size: 11px;
	width: 240px;
	height: auto;
	overflow: hidden;
	border: 0px solid gray;
}

div#page_container
{
	width: 100%;
	margin: 0 auto;
	position: absolute;
	top:100px;
	left:0;
	bottom:0;
	right:0;
}

div#content_container
{
	margin-left: 240px;
	padding-top: 0px;
	padding-bottom: 0px;
}

div#frame_container
{
	position: absolute;
	left: 240px;
	right: 0;
	top: 0;
	bottom: 0;
	margin: 0;
	margin-bottom:5px; /* prevents scrollbar from appearing from slight overspill */
	border-left: 2px solid gray;
}

iframe#content_frame
{
	width: 100%;
	height: 100%;
}
