<?xml version="1.0" encoding="utf-8"?>

<?define Version="2.0.9.42" ?>
<?define ReleaseName="February 2010" ?>
<?define ShortName="Feb2010" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="7748F5D9-4725-44f4-B1E8-3CB9BB843418" Language="1033" Manufacturer="SlimDX Group" Name="SlimDX Redistributable ($(var.ReleaseName))" Version="$(var.Version)">
    <Package Id="*" InstallerVersion="300" Compressed="yes" />

    <PropertyRef Id="NETFRAMEWORK20" />
    <PropertyRef Id="NETFRAMEWORK35" />
    <PropertyRef Id="NETFRAMEWORK35_CLIENT" />

    <WixVariable Id="WixUILicenseRtf" Value="..\ExtraFiles\License.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="..\ExtraFiles\SdxSideLogo.jpg" />
    <WixVariable Id="WixUIBannerBmp" Value="..\ExtraFiles\SdxLogo.jpg" />

    <Media Id="1" Cabinet="SlimDX_$(var.ShortName)_Redist.cab" EmbedCab="yes" />

    <Icon Id="SdxIconBlack.exe" SourceFile="..\..\media\sdx_icon_black.ico" />
    <Property Id="ARPPRODUCTICON" Value="SdxIconBlack.exe" />
    <Property Id="ALLUSERS" Value="1" />

    <UIRef Id="WixUI_Minimal" />
    <UI>
      <ProgressText Action="InstallDirectX">Installing DirectX runtime components ($(var.ReleaseName))</ProgressText>
    </UI>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="x64_GAC" Name="x64_GAC">
        <Component Id="x64_GAC" DiskId="1" Guid="49CD009B-2541-484D-BEEB-83D79E7DD9D7">
          <Condition>
            <![CDATA[Installed OR VersionNT64]]>
          </Condition>
          <File Id="SlimDX.dll_x64_GAC" Name="SlimDX.dll" Source="..\..\publish\Bin\x64\SlimDX.dll"
                KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyManifest="SlimDX.dll_x64_GAC">
            <netfx:NativeImage Id="SlimDX_NGEN_x64" Priority="1" Platform="64bit" />
          </File>
        </Component>
      </Directory>
      <Directory Id="x86_GAC" Name="x86_GAC">
        <Component Id="x86_GAC" DiskId="1" Guid="862BB85B-0A7A-4FB4-9942-644387DF7B8D">
          <File Id="SlimDX.dll_x86_GAC" Name="SlimDX.dll" Source="..\..\publish\Bin\x86\SlimDX.dll"
                KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyManifest="SlimDX.dll_x86_GAC">
            <netfx:NativeImage Id="SlimDX_NGEN_x86" Priority="1" Platform="32bit" />
          </File>
        </Component>
      </Directory>
      <Directory Id="TempFolder" Name="TempFolder" >
        <Directory Id="DXRedist" Name="DirectX Redist">
          <Component Id="DXRedist" DiskId="1" Guid="DE294C24-BB98-4479-86AD-FA2F3736DC73">
            <File Id="DSETUP.dll" Name="DSETUP.dll" Source="..\ExtraFiles\DXRedist\DSETUP.dll" />
            <File Id="dsetup32.dll" Name="dsetup32.dll" Source="..\ExtraFiles\DXRedist\dsetup32.dll" />
            <File Id="dxdllreg_x86.cab" Name="dxdllreg_x86.cab" Source="..\ExtraFiles\DXRedist\dxdllreg_x86.cab" />
            <File Id="DXSETUP.exe" Name="DXSETUP.exe" Source="..\ExtraFiles\DXRedist\DXSETUP.exe" />
            <File Id="dxupdate.cab" Name="dxupdate.cab" Source="..\ExtraFiles\DXRedist\dxupdate.cab" />
          </Component>
          <Component Id="DXRedist_x86" Guid="21E764E6-B901-44db-B24C-2CFC012C6EA9">
            <File Id="D3DCompiler_42_x86" Name="Aug2009_D3DCompiler_42_x86.cab" Source="..\ExtraFiles\DXRedist\x86\Aug2009_D3DCompiler_42_x86.cab" />
            <File Id="d3dcsx_42_x86" Name="Aug2009_d3dcsx_42_x86.cab" Source="..\ExtraFiles\DXRedist\x86\Aug2009_d3dcsx_42_x86.cab" />
            <File Id="d3dx9_42_x86.cab" Name="Aug2009_d3dx9_42_x86.cab" Source="..\ExtraFiles\DXRedist\x86\Aug2009_d3dx9_42_x86.cab" />
            <File Id="d3dx10_42_x86.cab" Name="Aug2009_d3dx10_42_x86.cab" Source="..\ExtraFiles\DXRedist\x86\Aug2009_d3dx10_42_x86.cab" />
            <File Id="d3dx11_42_x86.cab" Name="Aug2009_d3dx11_42_x86.cab" Source="..\ExtraFiles\DXRedist\x86\Aug2009_d3dx11_42_x86.cab" />
            <File Id="X3DAudio_x86.cab" Name="Feb2010_X3DAudio_x86.cab" Source="..\ExtraFiles\DXRedist\x86\$(var.ShortName)_X3DAudio_x86.cab" />
            <File Id="XAudio_x86.cab" Name="$(var.ShortName)_XAudio_x86.cab" Source="..\ExtraFiles\DXRedist\x86\$(var.ShortName)_XAudio_x86.cab" />
            <File Id="xinput_x86.cab" Name="APR2007_xinput_x86.cab" Source="..\ExtraFiles\DXRedist\x86\APR2007_xinput_x86.cab" />
          </Component>
          <Component Id="DXRedist_x64" Guid="93812D6F-4DE3-409c-95C0-FB4CA8E26741">
            <Condition>
              <![CDATA[Installed OR VersionNT64]]>
            </Condition>
            <File Id="D3DCompiler_42_x64" Name="Aug2009_D3DCompiler_42_x64.cab" Source="..\ExtraFiles\DXRedist\x64\Aug2009_D3DCompiler_42_x64.cab" />
            <File Id="d3dcsx_42_x64" Name="Aug2009_d3dcsx_42_x64.cab" Source="..\ExtraFiles\DXRedist\x64\Aug2009_d3dcsx_42_x64.cab" />
            <File Id="d3dx9_42_x64.cab" Name="Aug2009_d3dx9_42_x64.cab" Source="..\ExtraFiles\DXRedist\x64\Aug2009_d3dx9_42_x64.cab" />
            <File Id="d3dx10_42_x64.cab" Name="Aug2009_d3dx10_42_x64.cab" Source="..\ExtraFiles\DXRedist\x64\Aug2009_d3dx10_42_x64.cab" />
            <File Id="d3dx11_42_x64.cab" Name="Aug2009_d3dx11_42_x64.cab" Source="..\ExtraFiles\DXRedist\x64\Aug2009_d3dx11_42_x64.cab" />
            <File Id="X3DAudio_x64.cab" Name="$(var.ShortName)_X3DAudio_x64.cab" Source="..\ExtraFiles\DXRedist\x64\$(var.ShortName)_X3DAudio_x64.cab" />
            <File Id="XAudio_x64.cab" Name="$(var.ShortName)_XAudio_x64.cab" Source="..\ExtraFiles\DXRedist\x64\$(var.ShortName)_XAudio_x64.cab" />
            <File Id="xinput_x64.cab" Name="APR2007_xinput_x64.cab" Source="..\ExtraFiles\DXRedist\x64\APR2007_xinput_x64.cab" />
          </Component>
        </Directory>
        <Directory Id="VCRedist" Name="Visual C++ Redist">
          <Merge Id="VCRuntime_x86" DiskId="1" Language="1033" SourceFile="..\ExtraFiles\VCRedist\Microsoft_VC90_CRT_x86.msm" />
          <Merge Id="VCRuntime_x64" DiskId="1" Language="1033" SourceFile="..\ExtraFiles\VCRedist\Microsoft_VC90_CRT_x86_x64.msm" />
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="Binaries" Title="SlimDX Binaries" Absent="disallow" AllowAdvertise="no" Level="1" Description="SlimDX binary assemblies.">
      <ComponentRef Id="x86_GAC" />
      <ComponentRef Id="x64_GAC" />
    </Feature>
    <Feature Id="DirectX" Level="1" AllowAdvertise="no" Absent="disallow"
             Title="DirectX runtime" Description="DirectX runtime components for $(var.ReleaseName). Does not include XACT or older releases. Strongly recommended.">
      <ComponentRef Id="DXRedist" />
      <ComponentRef Id="DXRedist_x86" />
      <ComponentRef Id="DXRedist_x64" />
    </Feature>
    <Feature Id="VCRuntime_x86" Level="1" AllowAdvertise="no" Absent="disallow"
             Title="Visual C++ runtime (x86)" Description="Visual C++ 2008 runtime components for x86.">
      <MergeRef Id="VCRuntime_x86" />
    </Feature>
    <Feature Id="VCRuntime_x64" Level="0" AllowAdvertise="no" Absent="disallow"
             Title="Visual C++ runtime (x64)" Description="Visual C++ 2008 runtime components for x86-64.">
      <MergeRef Id="VCRuntime_x64" />
      <Condition Level="1">
        <![CDATA[Installed OR VersionNT64]]>
      </Condition>
    </Feature>

    <Condition Message="This application requires .NET Framework 2.0 or later. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK20 OR NETFRAMEWORK35 OR NETFRAMEWORK35_CLIENT]]>
    </Condition>

    <CustomAction Id="InstallDirectX" FileKey="DXSETUP.exe" ExeCommand="/silent" Execute="deferred" Impersonate="no" Return="check" />
    <InstallExecuteSequence>
      <Custom Action="InstallDirectX" Before="InstallFinalize"><![CDATA[NOT REMOVE]]></Custom>
    </InstallExecuteSequence>
  </Product>
</Wix>