.str
{
	color: #A31515;
}
.kwd
{
	color: blue;
}
.com
{
	color: green;
}
.typ
{
	color: #2B91AF;
}
.lit
{
	color: black;
}
.pun
{
	color: black;
}
.pln
{
	color: black;
}
.tag
{
	color: #A31515;
}
.atn
{
	color: red;
}
.atv
{
	color: blue;
}
.dec
{
	color: black;
}
pre.prettyprint
{
	margin-top: 2px;
	margin-bottom: 2px;
	font-family: Courier New;
	font-size: 10.0pt;
}
ol.linenums
{
	margin-top: 0;
	margin-bottom: 0;
}
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8
{
	list-style: none;
}
li.L1, li.L3, li.L5, li.L7, li.L9
{
	background: #eee;
}
@media print
{
	.str
	{
		color: #060;
	}
	.kwd
	{
		color: #006;
		font-weight: bold;
	}
	.com
	{
		color: #600;
		font-style: italic;
	}
	.typ
	{
		color: #404;
		font-weight: bold;
	}
	.lit
	{
		color: #044;
	}
	.pun
	{
		color: #440;
	}
	.pln
	{
		color: #000;
	}
	.tag
	{
		color: #006;
		font-weight: bold;
	}
	.atn
	{
		color: #404;
	}
	.atv
	{
		color: #060;
	}
}
