<?xml version="1.0" encoding="UTF-8"?>

<?define Version="2.0.13.43" ?>
<?define ReleaseName="January 2012" ?>
<?define ShortName="Jan2012" ?>
<?define DXName="June 2010" ?>
<?define DXShortName="Jun2010" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="7EBD0E43-6AC0-4ca8-9990-00E50069AD29" Language="1033" Manufacturer="SlimDX Group" Name="SlimDX Runtime .NET 4.0 $(var.Platform) ($(var.ReleaseName))" Version="$(var.Version)">
    <Package Id="*" InstallerVersion="300" Compressed="yes" />

    <PropertyRef Id="NETFRAMEWORK40FULL" />
    <PropertyRef Id="NETFRAMEWORK40CLIENT" />
    
    <WixVariable Id="WixUILicenseRtf" Value="..\ExtraFiles\License.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="..\ExtraFiles\SdxSideLogo.jpg" />
    <WixVariable Id="WixUIBannerBmp" Value="..\ExtraFiles\SdxLogo.jpg" />

    <Media Id="1" Cabinet="SlimDX_$(var.ShortName)_Redist.cab" EmbedCab="yes" />

    <Icon Id="SdxIconBlack.exe" SourceFile="..\..\media\sdx_icon_black.ico" />
    <Property Id="ARPPRODUCTICON" Value="SdxIconBlack.exe" />
    <Property Id="ALLUSERS" Value="1" />

    <UIRef Id="WixUI_Minimal" />
    <UI>
      <ProgressText Action="InstallDirectX">Installing DirectX runtime components ($(var.DXName))</ProgressText>
    </UI>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.Platform)_GAC" Name="$(var.Platform)_GAC">
        <Component Id="$(var.Platform)_GAC" DiskId="1" Guid="862BB85B-0A7A-4FB4-9942-644387DF7B8D">
          <File Id="SlimDX.dll_$(var.Platform)_GAC" Name="SlimDX.dll" Source="..\..\publish\Bin\net40\$(var.Platform)\SlimDX.dll"
                KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyManifest="SlimDX.dll_$(var.Platform)_GAC">
            <netfx:NativeImage Id="SlimDX_NGEN_$(var.Platform)" Priority="1" Platform="32bit" />
          </File>
        </Component>
      </Directory>
      <Directory Id="TempFolder" Name="TempFolder" >
        <Directory Id="DXRedist" Name="DirectX Redist">
          <Component Id="DXRedist" DiskId="1" Guid="DE294C24-BB98-4479-86AD-FA2F3736DC73">
            <File Id="DSETUP.dll" Name="DSETUP.dll" Source="..\ExtraFiles\DXRedist\DSETUP.dll" />
            <File Id="dsetup32.dll" Name="dsetup32.dll" Source="..\ExtraFiles\DXRedist\dsetup32.dll" />
            <File Id="dxdllreg_x86.cab" Name="dxdllreg_x86.cab" Source="..\ExtraFiles\DXRedist\dxdllreg_$(var.Platform).cab" />
            <File Id="DXSETUP.exe" Name="DXSETUP.exe" Source="..\ExtraFiles\DXRedist\DXSETUP.exe" />
            <File Id="dxupdate.cab" Name="dxupdate.cab" Source="..\ExtraFiles\DXRedist\dxupdate.cab" />
          </Component>
          <Component Id="DXRedist_$(var.Platform)" Guid="21E764E6-B901-44db-B24C-2CFC012C6EA9">
            <File Id="D3DCompiler_43_$(var.Platform)" Name="$(var.DXShortName)_D3DCompiler_43_$(var.Platform).cab" Source="..\ExtraFiles\DXRedist\$(var.Platform)\$(var.DXShortName)_D3DCompiler_43_$(var.Platform).cab" />
            <File Id="d3dcsx_43_$(var.Platform)" Name="$(var.DXShortName)_d3dcsx_43_$(var.Platform).cab" Source="..\ExtraFiles\DXRedist\$(var.Platform)\$(var.DXShortName)_d3dcsx_43_$(var.Platform).cab" />
            <File Id="d3dx9_43_$(var.Platform).cab" Name="$(var.DXShortName)_d3dx9_43_$(var.Platform).cab" Source="..\ExtraFiles\DXRedist\$(var.Platform)\$(var.DXShortName)_d3dx9_43_$(var.Platform).cab" />
            <File Id="d3dx10_43_$(var.Platform).cab" Name="$(var.DXShortName)_d3dx10_43_$(var.Platform).cab" Source="..\ExtraFiles\DXRedist\$(var.Platform)\$(var.DXShortName)_d3dx10_43_$(var.Platform).cab" />
            <File Id="d3dx11_43_$(var.Platform).cab" Name="$(var.DXShortName)_d3dx11_43_$(var.Platform).cab" Source="..\ExtraFiles\DXRedist\$(var.Platform)\$(var.DXShortName)_d3dx11_43_$(var.Platform).cab" />
            <File Id="X3DAudio_$(var.Platform).cab" Name="Feb2010_X3DAudio_$(var.Platform).cab" Source="..\ExtraFiles\DXRedist\$(var.Platform)\Feb2010_X3DAudio_$(var.Platform).cab" />
            <File Id="XAudio_$(var.Platform).cab" Name="$(var.DXShortName)_XAudio_$(var.Platform).cab" Source="..\ExtraFiles\DXRedist\$(var.Platform)\$(var.DXShortName)_XAudio_$(var.Platform).cab" />
            <File Id="xinput_$(var.Platform).cab" Name="APR2007_xinput_$(var.Platform).cab" Source="..\ExtraFiles\DXRedist\$(var.Platform)\APR2007_xinput_$(var.Platform).cab" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="VCRedist" Name="Visual C++ Redist">
        <Merge Id="VCRuntime_$(var.Platform)" DiskId="1" Language="1033" SourceFile="..\ExtraFiles\VCRedist\Microsoft_VC100_CRT_$(var.Platform).msm" />
      </Directory>
    </Directory>

    <Feature Id="Binaries" Title="SlimDX Binaries" Absent="disallow" AllowAdvertise="no" Level="1" Description="SlimDX binary assemblies.">
      <ComponentRef Id="$(var.Platform)_GAC" />
    </Feature>
    <Feature Id="DirectX" Level="1" AllowAdvertise="no" Absent="disallow"
             Title="DirectX runtime" Description="DirectX runtime components for $(var.DXName). Does not include XACT or older releases. Strongly recommended.">
      <ComponentRef Id="DXRedist" />
      <ComponentRef Id="DXRedist_$(var.Platform)" />
    </Feature>
    <Feature Id="VCRuntime_$(var.Platform)" Level="1" AllowAdvertise="no" Absent="disallow"
             Title="Visual C++ runtime ($(var.Platform))" Description="Visual C++ 2010 runtime components for $(var.Platform).">
      <MergeRef Id="VCRuntime_$(var.Platform)" />
    </Feature>

    <Condition Message="This application requires .NET Framework 4.0. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK40FULL OR NETFRAMEWORK40CLIENT]]>
    </Condition>

    <CustomAction Id="InstallDirectX" FileKey="DXSETUP.exe" ExeCommand="/silent" Execute="deferred" Impersonate="no" Return="check" />
    <InstallExecuteSequence>
      <Custom Action="InstallDirectX" Before="InstallFinalize"><![CDATA[NOT REMOVE]]></Custom>
    </InstallExecuteSequence>
  </Product>
</Wix>